@{ 
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-sm-12">
        <h1>registration</h1>
        <form novalidate="novalidate" action="/account/register" method="post" class="needs-validation">
            @Html.AntiForgeryToken()

            <div class="row">

                <div class="col-sm-12">
                    <label for="txtName">Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Enter name" name="Name" required pattern="^[a-zA-Z ]*$" autofocus="autofocus" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your name
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">
                    <label for="txtEmail">Email</label>
                    <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="Email" required />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your email
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="txtMobile">Mobile</label>
                    <input type="text" class="form-control" id="txtMobile" placeholder="Enter mobile" name="Mobile" required pattern="^[6789]\d{9}$" />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your mobile. Ex: 797978787
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-6">
                    <label for="txtPassword">Password</label>
                    <input type="password" class="form-control" id="txtPassword" placeholder="Enter password" name="Password" required minlength="6"
                           oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)"/>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter your password. At least 6 characters.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="txtConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Enter password confirmation" name="ConfirmPassword"
                           required />
                    <div class="valid-feedback">                        
                    </div>
                    <div class="invalid-feedback">
                        This field needs to match your password
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary mt-4">Register</button>

        </form>
    </div>
</div>

<script>

    $("a[href='/account/register']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);

    $(".needs-validation input").blur(validate);

    function validate(event) {
        if ($(".needs-validation")[0].checkValidity() == false || $(".email-exist").text() != "") {
            event.preventDefault();
        }

        $(".needs-validation")[0].classList.add("was-validated");
    }

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }
</script>