.navbar {
    background-color: #046475;
}

#active {
    color: yellow !important;
}

.navbar a:link, .navbar a:visited {
    color: white !important;
}

.navbar a:hover {
    color: #0dedd1 !important;
}

.dropdown-menu a:hover {
    color: black !important;
}

.hidden {
    display: none;
}

.bg-gray {
    background-color: #c3c3c3;
}