
@{
    ViewBag.Title = "About";
}

<div>
    <div class="col-sm-12">
        <div class="h-100 p-5 bg-gray">
            <h1>Learn, share, Build!</h1>
            <h3>Each month, over **** developers come to CodeSOS to learn and share their skills.</h3>
            <p class="lead">Join us on this pursue to be better developers</p>
        </div>
    </div>    
</div>

<div class="row mb-4 mt-4">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-gray">Our History</div>
            <div class="card-body">
                Founded in ****, CodeSOS is a growing company, trusted by online community and where developers can rely on. Here more than **** developers share, learn and build their careers.
                This is a platform that can be used by all levels of students and professionals that are willing to grow at their careers.
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header bg-gray">Our Partners</div>
            <div class="card-body">
                CodeSOS partners with business to help them understand, hire, engage, and enable the world's developers. Our products and services are focused on
                developer marketing, technical recruiting, market research, and enterprise knowledge sharing. learn more about our business here.
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header bg-gray">Our Offices</div>
            <img class="card-img-top" src="~/Images/map.svg" alt="Offices" />
            <div class="card-body">
                CodeSOS currently employs more than *** people in its head offices in New York, London and Munich as well as remote workers from
                Israel, Brazil and Japan, Germany, Slovenia, Spain, Poland, France, Russia, Canada, UK and US. The company is committed to 
                diversity in the workplace and is currently hiring.
            </div>
        </div>
    </div>    
</div>

<script>
    $("a[href='/home/about']").attr("id", "active");
</script>

